template(name="navbar")
  nav.bar.bar-tab
      a.tab-item.active(href='#')
        span.icon.icon-home
        span.tab-label
      a.tab-item(href='#')
        span.icon.icon-person
        span.tab-label