template(name="walkerScreen")
  canvas#mainCanvas(height="200", width="300")
  .bar.game-pad
    .row
        span.icon.icon-up-nav
      .row
        span.icon.icon-left-nav
        span.icon.icon-down-nav
        span.icon.icon-right-nav