body {
	background: #eee;
	color: #666666;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.apopularvine {
	.username {
		white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
		font-weight: 500;
		font-size: 1em;
		color: black;
		margin:0;
	}
	.media-object {
    width: 100px;
  }
}