template(name='anyVine')
  .media-content
    video(autoplay, loop, width="100%")
      source(src="#{vine.videoLowURL}", type="video/mp4")
      | Your browser does not support the video tag.
  .media-meta
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique id laborum repudiandae obcaecati officiis iste esse quam magnam, sapiente. Accusantium fugit nisi iste nostrum ab laborum illo recusandae repellat magnam.
