template(name="aMime")
  li.table-view-cell.media
    a.navigate-right
      img.media-object.pull-left(src="http://placehold.it/42x42")
      .media-body
        | {{name}}
        p
          #{description}