template(name='postSubmit')
  div.imgwrapper
    video#video
    canvas#canvas
  div.post-content
    form#chatform
      input.chat(type='text', name='message', autocomplete='off', value='', placeholder='Say Something...')